body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

socialCard{
	margin: 10px;
}

.user-details{
	display: flex;
	font-size: 14px;
	line-height: 20px;
}
.user-content{
	margin: 10px 0 0 10px;
}
.dp{
	height: 60px;
	border-radius: 45px;
}

.user-post{
	margin: 0 0 0 10px;
	font-size: 14px;
	line-height: 20px;
}

.action-bar{
	margin-top: 5px;
	display: flex;
	justify-content: space-around;
}

.comment, .mail{
	color: #667785;
}

.retweet{
	color: #27BE67;
}

.heart{
	color: #DE2960;
}